/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

nav {
    background: #fefae0;
    border-bottom: 3px solid #bbb;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}



.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

h1 {
    text-align: center;
    border-bottom: 1px dashed #202020;
    font-size: 20px
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #202020;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
}

    table td, table th {
        border-top: 1px solid #ECF0F1;
        padding: 10px;
    }

    table td {
        border-left: 1px solid #ECF0F1;
        border-right: 1px solid #ECF0F1;
    }

    table th {
        background-color: #4ECDC4;
    }

    table tr:nth-of-type(even) td {
        background-color: #d9f4f2;
    }

    table .total th {
        background-color: white;
    }

    table .total td {
        text-align: right;
        font-weight: 700;
    }

.mobile-header {
    display: none;
}

@media only screen and (max-width: 760px) {
    p {
        display: block;
        font-weight: bold;
    }

    table tr td:not(:first-child), table tr th:not(:first-child), table tr td:not(.total-val) {
        display: none;
    }

    table tr:nth-of-type(even) td:first-child {
        background-color: #d9f4f2;
    }

    table tr:nth-of-type(odd) td:first-child {
        background-color: white;
    }

    table tr:nth-of-type(even) td:not(:first-child) {
        background-color: white;
    }

    table tr th:first-child {
        width: 100%;
        display: block;
    }

    table tr th:not(:first-child) {
        width: 40%;
        transition: transform 0.4s ease-out;
        transform: translateY(-9999px);
        position: relative;
        z-index: -1;
    }

    table tr td:not(:first-child) {
        transition: transform 0.4s ease-out;
        transform: translateY(-9999px);
        width: 60%;
        position: relative;
        z-index: -1;
    }

    table tr td:first-child {
        display: block;
        cursor: pointer;
    }

    table tr.total th {
        width: 25%;
        display: inline-block;
    }

    table tr td.total-val {
        display: inline-block;
        transform: translateY(0);
        width: 75%;
    }
}

@media only screen and (max-width: 300px) {
    table tr th:not(:first-child) {
        width: 50%;
        font-size: 14px;
    }

    table tr td:not(:first-child) {
        width: 50%;
        font-size: 14px;
    }
}
